<div class="modal-mailinglist">
    <h4 mat-dialog-title>Subscribe to our monthly mailinglist</h4>

    <div mat-dialog-content>
        <mat-icon color="warn" class="icon-box"></mat-icon>
        <p>Join our subscriber's list to get the latest updates and articles delivered directly in your inbox.</p>
        <form>
            <div class="mailinglist-form-field">
                <mat-form-field class="mailinglist-input">
                    <mat-label for="email">Email</mat-label>
                    <input matInput [formControl]="mailinglistForm">
                    <mat-error *ngIf="mailinglistForm.hasError('email') && !mailinglistForm.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="mailinglistForm.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" mat-dialog-close (click)="subscribe()"
                    [disabled]="!mailinglistForm.valid">Subscribe</button>
            </div>
        </form>
    </div>
</div>