.loginForm {
    text-align: left;
}

input {
    width: 100%;
}

.register {
    float: right;
}

#loginbtn {
    margin: 0 auto;
    display: block;
    padding-left: 2%;
    padding-right: 2%;
}

button {
    background-color: #ecfc9c;
    border: none;
    color: #ffaa00;
    border-radius: 25px;
    padding: 1%;
}

h2 {
    text-shadow: 3px 1px #ffa700;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffe800;
}

input {
    border: none;

}

button:hover {
    background-color: #ffde5a;
  }