<div id="divhead" class="card"><h2>{{title}}</h2></div>
<div id="text">
    <button class="register" routerLink="/register" routerLinkActive="active">New user?</button><br><br>
    <form class="loginForm">
        <label for="username">Username:</label><br>
        <input type="text" name="username" [(ngModel)]="username"><br><br>
        <label for="password">Password: </label><br>
        <input type="password" name="password" [(ngModel)]="password"><br><br>
        <button (click)=checkLogin() id="loginbtn">Login</button>
    </form>
</div>
