nav {
    background-color: #9cc4fc;
    padding: 1.5%;
    text-align: center;
    color: #bad7ff;
}

#divcon {
    padding: 2%;
    width: 70%;
}

ul, li {
    display:inline-block;
    font-size:  20px;
}