<header>
    <a class="nav-link" routerLink="/home" routerLinkActive="active"><img src="assets/images/logo.png"></a>
</header>

<nav>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/attractions" routerLinkActive="active">Attractions</a> 
          </li> &nbsp;
    <li class="nav-item">
      <a class="nav-link" routerLink="/reservations" routerLinkActive="active">Reservations</a> 
          </li> &nbsp;
    <li class="nav-item">
  <a class="nav-link" routerLink="/roomservice" routerLinkActive="active">Room Service</a> 
      </li> &nbsp;
      <li class="nav-item">
  <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
  <a class="nav-link" routerLink="/mailing-service" routerLinkActive="active">Mailing Service</a>
      </li> &nbsp;
      <li class="nav-item">
</li>
</ul>
</nav>
<body>
<div id="divcon" class="container">
      <div div="inside">
        <router-outlet id="inside"></router-outlet>
      </div>
    </div>
</body>