/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
header {
    background-color: #ecfc9c;
    padding: 1%;
    text-align: center;
}

* {
    color: #378aff;
    background-color: #bad7ff;
}
