<div id="divhead" class="card">
    <h2>Welcome to the Bikini Bottom!</h2>
</div>
<div id="text">
    <p><b>Are you ready? Aye, aye Captain! Based in the Atlantis, you can truly submerge yourself in The Pacific
            Ocean.</b><br>
        Our decor is Bikini Bottom-chic, and actually,
        an uncanny replica of Spongebob's actual abode.<br>
        We have it all: a themed pool, a Goofy Goober and Weenie Hut Jr's themed bar, and daily events to keep you
        engaged! <br>
        It's safe to say there's room for you
        and your whole Krusty Krew. F is for friends who do stuff together!</p>
    <div class="row">
        <div class="column">
            <img src="https://i.imgur.com/CMjlyvx.png?2" id="image" alt="Snow" style="width:100%">
        </div>
        <div class="column">
            <img src="https://i.imgur.com/mvnNGwP.png?3" id="image" alt="Forest" style="width:100%">
        </div>
        <div class="column">
            <img src="https://i.imgur.com/folcQvP.png" id="image" alt="Mountains" style="width:100%">
        </div>
    </div>
</div>